
<nav aria-label="breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb bg-white mb-0 py-2">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home mr-1"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My course</li>
        </ol>
    </div>
</nav>
<!-- BEGIN BANNER -->
<section class="course-banner">
    <div class="container">
        <div class="banner-content">
            <h1>My course</h1>
            <h5>{{user?.email}}</h5>
        </div>
    </div>
</section>
<!-- BEGIN BANNER -->
<!-- BEGIN CONTENT -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let item of listCourse, let i = index">
                <a [routerLink]="[item?.id, 'details']" class="my-course-item">
                    <img src="../../../assets/img/{{item.image}}" alt="">
                    <h6 class="my-course-title">{{item.title}}</h6>
                    <div class="my-course-desc">
                        {{item.content}}
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>{{item.author}}</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
                
            </div>
            <!-- <div class="col-md-3" >
                <a href="#" class="my-course-item">
                    <img src="./img/html-css.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="my-course-item">
                    <img src="./img/html-css.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="my-course-item">
                    <img src="./img/html-css.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="my-course-item">
                    <img src="./img/nodejs.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="my-course-item">
                    <img src="./img/nodejs.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (incl Hooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="my-course-item">
                    <img src="./img/nodejs.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router, Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide (inclHooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="my-course-item">
                    <img src="./img/nodejs.jpg" alt="">
                    <h6 class="my-course-title">React - The Complete Guide (incl Hooks, React Router,
                        Redux) </h6>
                    <div class="my-course-desc">
                        Java Python Android and C# Expert Developer - 467K+ students The Complete Guide
                        (incl Hooks,
                        React Router, Redux)
                    </div>
                    <div class="my-course-author">
                        <h6>
                            <small>Lê Quang Song</small>
                            <small>Start course</small>
                        </h6>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
<!-- END CONTENT -->